@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
section {
  padding: 100px;
}

/*banner*/
.banner {
  position: relative;
  min-height: 100vh;
  background: url(/images/background.jpeg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2 {
  font-size: 3em;
  color: #b3b6b7;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h3 {
  font-size: 3em;
  color: #b3b6b7;
  font-weight: 500;
}
.btn {
  position: relative;
  background: #d0b8ac;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #40434e;
}
/* header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky
{
  background: #d0b8ac;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo 
{
  color: #b3b6b7;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}
header.sticky .logo
{ 
  color: #40434e;
}
header ul
{
  position: relative;
  display: flex;
}
header ul li 
{
  position: relative;
  list-style: none;
}
header ul li a 
{
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #b3b6b7;
  text-decoration: none;
}
header.sticky ul li a
{
  color: #40434e
}

/*About*/

.about
{
  background: #111;
}
.heading
{
  color: #b3b6b7;
  text-align: center;
  margin-bottom: 30px;

}
.about .content
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.about .content .aboutBx
{
  padding: 40px 20px;
  background: #222;
  color: #40434e;
  max-width: 300px;
  margin: 20px;
  text-align: center;
  transition: 0.5s
}
.about .content .aboutBx:hover
{
  background: #d0b8ac;
}
.about .content .aboutBx img
{
  
  max-width: 80px;
  filter: inveret(1);
}
.about .content .aboutBx h2
{
  font-size: 20px;
  font-weight: 600;
}
.about .content .aboutBx span
{
  font-size: 20px;
  font-weight: 400;
  color:#b3b6b7 ;
}

/*login and signup*/
.login , .signup
{
  
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: url(/images/background.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login .content .new , .signup .content .new
{
  margin-top: 20%;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  padding: 100px 50px; 
  
}

.login .content .new h2 , .signup .content .new h2
{
  font-size: 3em;
  color: #b3b6b7;
  font-weight: 500;
  line-height: 1.5em;

}

.login .content .new p , .signup .content .new p
{
  font-size: 20px; 
  color:#40434e; 
  line-height: 1.6;

}
.login .content .new a , .signup .content .new a
{
  text-decoration: none;
  color: #b3b6b7;
}
.login .content .new a:hover , .signup .content .new a:hover
{
  color: azure;
}


.login .content input , .signup .content input{ 
  align-items: center; 
  display: block; 
  width: 320px; 
  height: 50px;
  background: #b3b6b74f;
  outline: #B3B6B7;
  font-weight: lighter;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 5px;
} 

.login .content .button , .signup .content .button{ 
  font-size: 18px; 
  text-decoration: none; 
  color: #FBFEFB; 
  border: #B3B6B7 2px solid; 
  padding: 10px 20px; 
  border-radius: 15px; 
  justify-content: space-between; 
} 

.login .content .button:hover , .signup .content .button:hover{
  background: #B3B6B7;
  color: #FBFEFB; 
} 

/*settings*/
.settings
{
  position: relative;
  min-height: 100vh;
  background: url(/images/background.jpeg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings .settingsBx h2
{
  font-size: 3em;
  color: #b3b6b7;
  font-weight: 500;
  line-height: 1.5em;
}

/*help*/
.help
{
  position: relative;
  min-height: 100vh;
  background: url(/images/background.jpeg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.help .helpBx h2
{
  font-size: 3em;
  color: #b3b6b7;
  font-weight: 500;
  line-height: 1.5em;
}


/*login and signup*/

/* .text, #login{ */
  /* margin-top: 45vh; */
/* } */
/*  */
/*  */
/* .text{ */
  /* margin-left: 10%; */
  /* font-weight: 70px; */
/* } */
/*  */
/* .text h1, p{ */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-size: 20px; */
  /* color:#FBFEFB; */
  /* line-height: 1.6; */
/*  */
/* } */
/* .text p a{ */
  /* color: #40434E; */
  /* text-decoration: none; */
/* } */
/*  */
/* #login{ */
  /* margin-left: 20%; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* padding: 0 20px; */
/* } */
/*  */
/* #signup{ */
  /* margin-top: 20%; */
  /* margin-left: 20%; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* padding: 0 20px; */
/* } */
/*  */
/*  */
/*  */
/*  */
/*  */
/* input{ */
  /* display: block; */
  /* width: 320px; */
  /* height: 50px; */
  /* background: #b3b6b74f; */
  /* outline: #B3B6B7; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-weight: lighter; */
  /* font-size: 14px; */
  /* margin-top: 10px; */
  /* border-radius: 5px; */
/* } */
/*  */
/* #login .button, #signup .button{ */
  /* font-size: 18px; */
  /* text-decoration: none; */
  /* color: #FBFEFB; */
  /* border: #B3B6B7 2px solid; */
  /* padding: 10px 20px; */
  /* border-radius: 15px; */
  /* justify-content: space-between; */
/* } */
/*  */
/* #login .button:hover, #signup .button:hover{ */
  /* background: #B3B6B7 ; */
  /* color: #FBFEFB; */
/*  */
/* } */
/*  */
/* #search{ */
  /* width: 400px; */
  /* height: 30px; */
  /* padding: 2px; */
  /* border-radius: 25px; */
  /* border: none; */
  /* font-size: 10px; */
  /* color: #080705ec; */
  /* margin-top: 20; */
  /* margin-left: 30%; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* padding: 0 20px; */
/*  */
/* } */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */





/* all style */
/* *{ */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* line-height: 1.5rem; */
  /* background: #F7F9F9; */
/* } */
/* h1{ */
  /* color: #2D3142; */
/* } */

 /* p{ */
   /* color: #ADACB5; */
 /* } */

 /* .bar{ */
   /* color: #669BBC; << banner */
 /* } */




